<app-header></app-header>
<app-navbar></app-navbar>

<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <app-page-title pretitle="Overviews" [title]="getTitle()" [textmuted]=""></app-page-title>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
          
          <router-outlet></router-outlet>
     
    </div>
    <app-footer></app-footer>
  </div>
</div>

