<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper" class="boxed">

    <!-- Header
  ============================================= -->
    <app-header></app-header>
    <!-- Header End -->

    <!-- Content
  ============================================= -->
    <div id="content" >
 
      
       <app-chat *ngIf="agentIsAvailable"></app-chat>
        <router-outlet></router-outlet>

    </div>
    <!-- Content end --> 

    <!-- Footer
  ============================================= -->
    <app-footer></app-footer>
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->