<!-- Slideshow
    ============================================= -->
<section class="hero-wrap section">
    <div class="hero-bg hero-bg-scroll" style="background-image:url('./assets/images/bg/image-3.jpg');"></div>
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 col-xl-6 text-center text-lg-left">
                    <h1 class="text-11 text-white mb-4">Nous promettons des frais réduits<br>
                        et sans frais supplémentaires</h1>
                    <p class="text-5 text-white line-height-4 mb-4">L'ouverture d'un compte JMLessous est GRATUITE.
                        Créez votre compte aujourd'hui et commencez !</p>
                    <a routerLink="/collecte-depots/compte-bancaire" class="btn btn-primary my-2 mr-2">Ouvrir un compte gratuit</a> <a
                        class="btn btn-link text-light video-btn my-2" href="#"
                        data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal"
                        data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>Voir comment ça marche</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slideshow end -->

<!-- What can you do
    ============================================= -->
<section class="section pt-5 pb-0">
    <div class="container">
        <div class="row">
        
            <!-- Withdrawal Funds
                  ============================================= -->
            <div class="col-md-6 mb-5">
                <div class="bg-white shadow-sm rounded p-4 text-center">
                    <div class="featured-box style-4 py-2">
                        <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i
                                class="fas fa-download"></i> </div>
                        <h3 class="text-body text-7 mb-3">Fonds de prélèvement</h3>
                        <p class="text-4 line-height-4">Vous pouvez facilement retirer des fonds sur votre compte bancaire local dans la devise locale à d'excellents taux.</p>
                        <div class="text-primary text-10 pt-3 pb-4 mb-2">à 1.5%</div>
                        <a routerLink="/collecte-depots/prelevements" class="text-muted btn-link text-4">Savoir plus<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- Withdrawal Funds end -->
        
            <!-- Deposit Funds
                  ============================================= -->
            <div class="col-md-6 mb-5">
                <div class="bg-white shadow-sm rounded p-4 text-center">
                    <div class="featured-box style-4 py-2">
                        <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i
                                class="fas fa-upload"></i> </div>
                        <h3 class="text-body text-7 mb-3">Dépôts de fonds</h3>
                        <p class="text-4 line-height-4">Avec une grande variété d'options pour déposer votre compte. Il y a toujours une option qui vous convient.</p>
                        <div class="text-primary text-10 pt-3 pb-4 mb-2">à 1.0%</div>
                        <a routerLink="/collecte-depots/depots" class="text-muted btn-link text-4">Savoir plus<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- Deposit Funds end -->
        
            <!-- Receive Money
                  ============================================= -->
            <div class="col-md-6 mb-5">
                <div class="bg-white shadow-sm rounded p-4 text-center">
                    <div class="featured-box style-4 py-2">
                        <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i
                                class="fas fa-hand-holding-usd"></i> </div>
                        <h3 class="text-body text-7 mb-3">Recevoir de l'argent</h3>
                        <p class="text-4 line-height-4">Recevoir de l'argent est toujours gratuit</p>
                        <div class="text-primary text-10 pt-3 pb-4 mb-2">Graduit</div>
                        <a routerLink="/reception/" class="text-muted btn-link text-4">Savoir plus<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- Receive Money end -->
        
            <!-- Send Money
                  ============================================= -->
            <div class="col-md-6 mb-5">
                <div class="bg-white shadow-sm rounded p-4 text-center">
                    <div class="featured-box style-4 py-2">
                        <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i
                                class="fas fa-file-invoice-dollar"></i> </div>
                        <h3 class="text-body text-7 mb-3">Envoyer de l'argent</h3>
                        <p class="text-4 line-height-4">Vous pouvez facilement effectuer des paiements à d'excellents taux.</p>
                        <div class="text-primary text-10 pt-3 pb-4 mb-2">à 1.0%</div>
                        <a routerLink="/envoie" class="text-muted btn-link text-4">Savoir plus<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- Send Money end -->
        
            <!-- Currency Conversion
                  ============================================= -->
            <div class="col-md-6 mb-5">
                <div class="bg-white shadow-sm rounded p-4 text-center">
                    <div class="featured-box style-4 py-2">
                        <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i
                                class="fas fa-exchange-alt"></i> </div>
                        <h3 class="text-body text-7 mb-3">Conversion des devises</h3>
                        <p class="text-4 line-height-4">Nous vous donnons toujours le taux moyen du marché, qui est le taux de change le plus juste. </p>
                        <div class="text-primary text-10 pt-3 pb-4 mb-2">à 0.4%</div>
                        <a routerLink="/devises/" class="text-muted btn-link text-4">Savoir plus<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- Currency Conversion end -->
        
            <!-- Administrative fee
                  ============================================= -->
            <div class="col-md-6 mb-5">
                <div class="bg-white shadow-sm rounded p-4 text-center">
                    <div class="featured-box style-4 py-2">
                        <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i class="fas fa-user"></i>
                        </div>
                        <h3 class="text-body text-7 mb-3">Frais administratifs</h3>
                        <p class="text-4 line-height-4">Continuez à utiliser votre compte JMlessous et vous ne serez jamais facturé de frais administratifs!</p>
                        <div class="text-primary text-10 pt-3 pb-4 mb-2">Graduit</div>
                        <a routerLink="/espace-client/" class="text-muted btn-link text-4">Savoir plus<i
                                class="fas fa-chevron-right text-2 ml-2"></i></a>
                    </div>
                </div>
            </div>
            <!-- Administrative fee end -->
        
        </div>
    </div>
</section>
<!-- What can you do end -->


<!-- <section class="section py-5">
    <div class="container">
        <div class="justify-content-center text-center">
            <h2 class="text-9">Obtenir l'application</h2>
            <p class="text-4 mb-4">Téléchargez notre application pour le moyen le plus rapide et le plus pratique d'envoyer et de recevoir des paiements.
            </p>
            <a class="d-inline-flex mx-3" href=""><img alt="" src="./assets/images/app-store.png"></a> <a
                class="d-inline-flex mx-3" href=""><img alt="" src="./assets/images/google-play-store.png"></a>
        </div>
    </div>
</section> -->