<div class="row row-cards">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div id="carousel-captions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
           
          </div>
          <a class="carousel-control-prev" href="#carousel-captions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-captions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
