<h3 class="font-weight-400 mb-4">Récupération de mot de passe</h3>
<div *ngIf="message != ''" [ngClass]="classmsg">{{ message }}</div>
<form id="loginForm" #formLogin="ngForm" novalidate>
    <p class="text-muted mb-4">{{formText}}</p>
  <div class="form-group" *ngIf="!submitted_reset">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      [class.is-invalid]="email.invalid && email.touched"
      placeholder="Entrer votre adresse email"
      name="email"
      #email="ngModel"
      [(ngModel)]="user.email"
      required
      pattern="^[a-z0-9-.]+@[a-z-]+\.[a-z]{2,3}$"
    />
    <div *ngIf="email.errors && (email.valid || email.touched)">
      <p class="text-danger" *ngIf="email.errors?.required">
        Entrer votre adresse email
      </p>
      <p class="text-danger" *ngIf="email.errors?.pattern">
        Adresse email invalide
      </p>
    </div>
  </div>
  <div class="form-group" *ngIf="submitted_reset">
    <label for="loginPassword">Code de validation</label>
    <input
      type="number"
      class="form-control"
      [class.is-invalid]="code.invalid && code.touched"
      placeholder="Enter code 6 digits"
      name="code"
      #code="ngModel"
      [(ngModel)]="validation.code"
      required
      minlength="6"
    />
    <div *ngIf="code.errors && (code.valid || code.touched)">
      <p class="text-danger" *ngIf="code.errors?.required">
        Entrer le code de validation
      </p>
      <p class="text-danger" *ngIf="code.errors?.maxlength">
        Entrer un numéro à 6 nombre
      </p>
      <p class="text-danger" *ngIf="code.errors?.minlength">
        Entrer un numéro à 6 nombre
      </p>
    </div>
  </div>
<button type="button" id="btn-forgot" *ngIf="!submitted_reset" style="cursor: pointer" (click)="onResetPassword()"
    class="btn btn-primary btn-block my-4" type="button" [disabled]="formLogin.invalid">
    Envoyer moi
</button>
  <div class="btn-group w-100"  *ngIf="submitted_reset">
    <button
      type="button"
      class="btn btn-primary btn-block my-4"
      type="button"
      id="btn-forgot"
      style="cursor: pointer"
      (click)="onResendCode()"
    >
      Renvoyer le code
      <div *ngIf="loading" class="spinner-grow text-light" role="status">
        <span class="sr-only"></span>
      </div>
    </button>
    <button type="button" class="btn btn-primary btn-block my-4" id="btn-validation"
            style="cursor: pointer"
            [disabled]="formLogin.invalid"
            (click)="onCodeValidation()"
          >
            Valider
        <div *ngIf="loading" class="spinner-grow text-light" role="status">
            <span class="sr-only"></span>
        </div>
    </button>
  </div>
</form>
<p class="text-3 text-center text-muted">
  Je me souviens deja?
  <a class="btn-link" routerLink="/auth/se-connecter">Se connecter</a>
</p>