<h2 class="font-weight-400 text-center mt-3">Simuler votre crédit</h2>
<div class="row mb-3">
    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="allCrédits" name="allFilters" class="custom-control-input"
                (change)="setCreditConsoForm($event)" checked>
            <label class="custom-control-label" for="allCrédits">Crédit à la consommation</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="paymentsSend" name="allFilters" (change)="setCreditImmoForm($event)"
                class="custom-control-input">
            <label class="custom-control-label" for="paymentsSend">Crédit Immobilier</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div *ngIf="isCreditConsoForm" class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
            <form id="form-send-money" novalidate #form="ngForm">
                <div class="form-group">
                    <label for="payerName">Choisir le mode de remboursement</label>
                    <select class="custom-select" id="input-mode" name="modeRemboursement" required>
                        <option value="default">--- Selectionner ---</option>
                        <option value="INFINE">{{remboursement_infinetext}}</option>
                        <option value="MENSUALITE_CONSTANTE">{{remboursement_Mensualitytext}}</option>
                        <option value="AMORTISSEMENT_CONSTANT">{{remboursement_Amortissemnttext}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="duree">Durée (En Mois)</label>
                    <input type="number" min="1" name="duree"  max="12" [class.is-invalid]="duree.invalid && duree.touched"
                    class="form-control" #duree="ngModel" [(ngModel)]="credit.duree" id="duree" required
                        placeholder="Entrer la durée de l'emprunt">
                </div>
                <div class="form-group">
                    <label for="amount">Montant demandé</label>
                    <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                        <input type="number" min="1000"  max="100000" class="form-control" name="montantDemande" required
                         data-bv-field="amount" id="amount" #montant="ngModel" [(ngModel)]="credit.montantDemande"
                         [class.is-invalid]="montant.invalid && montant.touched"
                            placeholder="Entrer le montant demandé">
                        <div class="input-group-append"> <span class="input-group-text p-0">
                                <select id="recipientCurrency" data-style="custom-select bg-transparent border-0"
                                    data-container="body" data-live-search="true"
                                    class="selectpicker form-control bg-transparent" required="">
                                    <optgroup label="Popular Currency">
                                        <option data-icon="currency-flag currency-flag-usd mr-1"
                                            data-subtext="United States dollar" value="">USD</option>
                                    </optgroup>
                                    <option value="" data-divider="true">divider</option>
                                    <optgroup label="Other Currency">
                                        <option data-icon="currency-flag currency-flag-eur mr-1" data-subtext="Euro"
                                            value="">EUR</option>
                                    </optgroup>
                                </select>
                            </span> </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" rows="4" #description="ngModel"
                    [class.is-invalid]="description.invalid && description.touched"
                     [(ngModel)]="credit.description" id="description" required
                        placeholder="Motif du crédit"></textarea>
                </div>
                <button (click)="simulerCreditConso()" [disabled]="form.invalid" class="btn btn-primary btn-block mt-4">Continuer</button>
            </form>
            <!-- Request Money Form end -->
        </div>
    </div>
    <div *ngIf="showStatistic==true" class="col-md-8 col-lg-6 mx-auto">
        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
            <!-- Request Money Confirm Details
                ============================================= -->
            <h3 class="text-5 font-weight-400 mb-3">Confirmer les details</h3>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Remboursement</p>
                
                    <p *ngIf="simulatedCredit.modeRemboursement == 'INFINE'" class="col-sm-8 font-weight-500">Une seule fois</p>
                    <p *ngIf="simulatedCredit.modeRemboursement =='MENSUALITE_CONSTANTE'" class="col-sm-8 font-weight-500">Mensualité constante</p>
                    <p *ngIf="simulatedCredit.modeRemboursement == 'AMORTISSEMENT_CONSTANT'" class="col-sm-8 font-weight-500">Amortissement constant</p>
              
            </div>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Categorie</p>
                <p class="col-sm-8 font-weight-500">{{simulatedCredit.categorie}}</p>
            </div>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Durée</p>
                <p class="col-sm-8 font-weight-500">{{simulatedCredit.duree}} (Mois)</p>
            </div>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Mantant demandé</p>
                <p class="col-sm-8 font-weight-500">{{simulatedCredit.montantDemande | number: '2.0-0'}} (TND)</p>
            </div>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Mantant mensuel</p>
                <p class="col-sm-8 font-weight-500">{{simulatedCredit.montantMensuel | number: '2.0-0'}} (TND)</p>
            </div>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Mantant de la Transaction</p>
                <p class="col-sm-8 font-weight-500">{{simulatedCredit.montantTransaction | number: '2.0-0'}} (TND)</p>
            </div>
            <div class="row">
                <p class="col-sm-4 text-muted text-sm-right font-weight-500 mb-0 mb-sm-3">Description</p>
                <p class="col-sm-8">{{simulatedCredit.description}}.</p>
            </div>
            <apx-chart *ngIf="showStatistic==true" [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"></apx-chart>
            <form id="form-send-money" method="post">
                <button [disabled]="simulatedCredit.montantTransaction ==null" (click)="addCreditConso()" class="btn btn-primary btn-block">Confirmer la demande</button>
            </form>
            <!-- Request Money Confirm Details end -->
        </div>
        
    </div>
</div>