<div class="fabs">
    <div class="chat">
        <div class="chat_header"> 
            <div *ngIf="connected == false" class="chat_option">
                <div class="header_img">
                    <img src="./assets/images/avatars/default-profile.jpg" />
                </div>
                <span id="chat_head">Chat</span> <br>
                <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i
                        class="fullscreen zmdi zmdi-window-maximize"></i></span>
            
            </div>
            <div *ngIf="connected" class="chat_option">
                <div class="header_img">
                    <img [src]="user.profileUrl" />
                </div>
                <span id="chat_head">{{user.username}}</span> <br>
                <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i
                        class="fullscreen zmdi zmdi-window-maximize"></i></span>

            </div>

        </div>
        <form #form="ngForm" novalidate>
            <div id="chat_converse" class="chat_conversion chat_converse">
                <div *ngFor="let chat of chats">
                    <span *ngIf="user.uniqueId !== chat.incomeId" class="chat_msg_item chat_msg_item_admin">
                        <div class="chat_avatar">
                            <img src="./assets/images/avatars/default-profile.jpg" />
                        </div>{{chat.message}}
                    </span>
                    
                    <div *ngIf="user.uniqueId == chat.incomeId">
                        <span class="chat_msg_item chat_msg_item_user" >
                            {{chat.message}}</span>
                        <span class="status">20m ago</span>
                    </div>
                    
                </div>
                
            </div>
            <div class="fab_field">
                <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a>
                <a id="fab_send" class="fab" (click)="sendMessage()"><i class="zmdi zmdi-mail-send"></i></a>
                <textarea id="chatSend"  [(ngModel)]="chatMessage.message" (keyup)="$event.keyCode == 13 && sendMessage()" name="chat_message" placeholder="Send a message"
                    class="chat_field chat_message"></textarea>
            </div>
        </form>
    </div>
    <a id="prime" style="color: white;" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
</div>  