<div
  class="modal modal-blur fade"
  id="user"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      
        <div class="modal-body">
          <form id="formUser" #formUser="ngForm" novalidate>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">UserName</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Example(firstname.lastname)"
                  name="username"
                  #username="ngModel"
                  [(ngModel)]="user.username"
                   [class.is-invalid]="
                    username.invalid && username.touched
                  "
                  required
                />
                <div *ngIf="
                                                username.errors &&
                                                (username.valid || username.touched)
                                              ">
                    <p class="text-danger" *ngIf="username.errors?.required">
                        Please Enter the username
                    </p>
                </div>
              </div>
            
            </div>
     
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter first name"
                  name="firstname"
                  #firstname="ngModel"
                  [(ngModel)]="user.firstname"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter last name"
                  name="lastname"
                  #lastname="ngModel"
                  [(ngModel)]="user.lastname"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-invalid]="email.invalid && email.touched"
                  placeholder="Enter email"
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="user.email"
                  required
                  pattern="^[a-z0-9-.]+@[a-z-]+\.[a-z]{2,3}$"
                />
                <div *ngIf="email.errors && (email.valid || email.touched)">
                  <p class="text-danger" *ngIf="email.errors?.required">
                    Please Enter your Email Address
                  </p>
                  <p class="text-danger" *ngIf="email.errors?.pattern">
                    Invalid Email Address
                  </p>
                </div> 
              </div>
            </div>
            <div class="col-lg-6" *ngIf="isClientManager">
              <div class="mb-3">
                <label class="form-label">Region</label>
                <input type="text" class="form-control" placeholder="Enter Region" name="region" #region="ngModel"
                  [(ngModel)]="user.region" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Contact</label>
                <input type="number" class="form-control" placeholder="Enter contact" name="contact" #contact="ngModel"
                  [(ngModel)]="user.contact" />
              </div>
            </div>
          </div>

          <label class="form-label">User Role</label>
          <div class="form-selectgroup-boxes row mb-3">
            <div class="col-lg-6" *ngIf="isClientManager">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="user-role"
                  id="role_client"
                  value="ROLE_CLIENT"
                  [(ngModel)]="userRole"
                  class="form-selectgroup-input"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Client</span
                    >
                  </span> 
                </span>
              </label>
            </div>
            <div class="col-lg-6" *ngIf="isPersonnalManager">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="user-role"
                  id="role_gestionnaire"
                  value="ROLE_GESTIONNAIRE_CLIENTELE"
                  [(ngModel)]="userRole"
                  class="form-selectgroup-input"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Gestionnaire clientele</span
                    >
                  </span>
                </span>
              </label>
            </div>
            <div class="col-lg-6" *ngIf="isPersonnalManager">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  name="user-role"
                  id="role_conseiller"
                  value="ROLE_CONSEILLER_CLIENTELE"
                  [(ngModel)]="userRole"
                  class="form-selectgroup-input"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Conseiller clientele</span
                    >
                  </span>
                </span>
              </label>
            </div>
            <div class="col-lg-6" *ngIf="isPersonnalManager">
              <label class="form-selectgroup-item">
                <input
                  type="radio"
                  id="role_financier"
                  name="user-role"
                  value="ROLE_PERSONNEL_FINANCIER"
                  [(ngModel)]="userRole"
                  class="form-selectgroup-input"
                />
                <span
                  class="form-selectgroup-label d-flex align-items-center p-3"
                >
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1"
                      >Personnel financier</span
                    >
                  </span>
                </span>
              </label>
            </div>

            <div class="col-lg-6" *ngIf="isPersonnalManager">
              <label class="form-selectgroup-item">
                <input type="radio" id="role_empcap" name="user-role" [(ngModel)]="userRole" value="ROLE_EMPLOYE_CAP"
                  class="form-selectgroup-input" />
                <span class="form-selectgroup-label d-flex align-items-center p-3">
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1">Employé de campagnie partenaire</span>
                  </span>
                </span>
              </label>
            </div>

            <div class="col-lg-6" *ngIf="isSuperAdmin">
              <label class="form-selectgroup-item">
                <input type="radio" id="role_rh" name="user-role" [(ngModel)]="userRole" value="ROLE_PERSONNEL_RH"
                  class="form-selectgroup-input" />
                <span class="form-selectgroup-label d-flex align-items-center p-3">
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1">Personnel RH</span>
                  </span>
                </span>
              </label>
            </div>

            <div class="col-lg-6" *ngIf="isSuperAdmin">
              <label class="form-selectgroup-item">
                <input type="radio" id="role_directoire" name="user-role"  [(ngModel)]="userRole" value="ROLE_MEMBRE_DIRECTOIRE"
                  class="form-selectgroup-input" />
                <span class="form-selectgroup-label d-flex align-items-center p-3">
                  <span class="me-3">
                    <span class="form-selectgroup-check"></span>
                  </span>
                  <span class="form-selectgroup-label-content">
                    <span class="form-selectgroup-title strong mb-1">Membre du directoire</span>
                  </span>
                </span>
              </label>
            </div>
          </div>

  
          </form>
        </div>
        <!-- <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Client name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Reporting period</label>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label class="form-label">Additional information</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div> -->
        <div class="modal-footer">
        <button type="button" id="closeModal" (click)="resetForm(formUser)" class="btn me-auto" data-bs-dismiss="modal">
            Cancel
        </button>
          <button
          id="submitBtn"
            style="cursor: pointer"
            [disabled]="formUser.invalid"
            (click)="saveUser(formUser)"
            class="btn btn-primary ms-auto"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <div *ngIf="loaded" class="spinner-border text-light mr-5" role="status">
              <span class="sr-only"></span>
            </div>
              <span class="ml-2">Create new user</span>
               
          </button>
        </div>
      
    </div>
  </div>
</div>
