
<!-- Header
  ============================================= -->
<app-adminheader></app-adminheader>
<!-- Header End -->
  
<div id="content" class="py-4">
    <div class="container">

        <app-chat *ngIf="agentIsAvailable"></app-chat>

        <div class="row">
            <aside class="col-lg-3">
                <app-aside></app-aside>
            </aside>
            

            <!-- Middle Panel
                    ============================================= -->
            <div class="col-lg-9">
            
                <!-- Profile Completeness
                      =============================== -->
                
            
                <!-- Recent Activity
                      =============================== -->
                
                    <router-outlet></router-outlet>
                
                
                <!-- Recent Activity End -->
            </div>
            <!-- Middle Panel End -->
        </div>
    </div>
</div> 
<!-- Content
  ============================================= -->

<!-- Content end -->
<app-footer></app-footer>