<app-header></app-header>

<app-navbar></app-navbar>

<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <app-page-title pretitle="Overviews" [title]="getTitle()" [textmuted]=""></app-page-title>
        </div>
        <!-- Page title actions -->
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <app-page-action (emitter)="getSearchValue($event)" [displayLoadBtn]="displayBtn()" [EntityName]="getEntity()"></app-page-action>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer> 
</div>

