<div id="main-wrapper" class="h-100">
    <div class="container-fluid px-0 h-100">
        <div class="row no-gutters h-100">
            <!-- Welcome Text
      ============================================= -->
            <div class="col-md-6">
                <div class="hero-wrap d-flex align-items-center h-100">
                    <div class="hero-mask opacity-8 bg-primary"></div>
                    <div class="hero-bg hero-bg-scroll" style="background-image:url('./assets/images/bg/image-3.jpg');"></div>
                    <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
                        <div class="row no-gutters">
                            <div class="col-10 col-lg-9 mx-auto">
                                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" routerLink="/accueil"
                                        title="Payyed - HTML Template"><img src="./assets/images/logo-light.png"
                                            alt="Payyed"></a> </div>
                            </div>
                        </div>
                        <div class="row no-gutters my-auto">
                            <div class="col-10 col-lg-9 mx-auto">
                                <h1 class="text-11 text-white mb-4">Bienvenue !</h1>
                                <p class="text-4 text-white line-height-4 mb-5">Nous sommes heureux de vous revoir ! Instantané
                                Dépôts, retraits et paiements instantanés auxquels des millions de personnes dans le monde font confiance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Welcome Text End -->

            <!-- Login Form
      ============================================= -->
            <div class="col-md-6 d-flex align-items-center">
                <div class="container my-4">
                    <div class="row">
                        <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Login Form End -->
        </div>
    </div>
</div>