<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
          ============================= -->
                <div class="logo"> <a class="d-flex" routerLink="/accueil" title="Payyed - HTML Template"><img
                            src="./assets/images/logo.png" alt="Payyed" /></a> </div>
                <!-- Logo end -->
                <!-- Collapse Button
          ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                    <span></span> <span></span> <span></span> </button><!-- Collapse Button end -->

                <!-- Primary Navigation
          ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li routerLinkActive="active"><a [routerLink]="['/collecte-depots/']">Collecte de dépots</a></li>
                            <li routerLinkActive="active"><a [routerLink]="['/reception/']">Reception</a></li>
                            <li routerLinkActive="active"><a [routerLink]="['/envoie/']">Envoie</a></li>
                            <li routerLinkActive="active"><a [routerLink]="['/devises/']">Dévises</a></li>
                            <li routerLinkActive="active"><a [routerLink]="['/assurance/']">Assurance</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>

            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
          ============================== -->
                <nav class="login-signup navbar navbar-expand">
                    <ul class="navbar-nav">
                        <li *ngIf="!logged"><a routerLink="/auth/se-connecter">S'identifier</a> </li>
                        <li routerLinkActive="active" *ngIf="logged"><a [routerLink]="['/espace-client/mon-compte']">Espace client</a> </li>
                        <li *ngIf="!logged" class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block"
                                routerLink="/auth/s-abonner">S'abonner</a></li>
                        <li *ngIf="logged" class="align-items-center h-auto ml-sm-3"><button class="btn btn-primary d-none d-sm-block"
                                     type="button"   style="cursor: pointer; color:white" (click)="logout()">Se Deconnecter</button></li>
                    </ul>
                </nav>
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>