<!-- Secondary Menu
  ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" 
                routerLink="/collecte-depots/depots/">Depots</a></li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active"
                    routerLink="/collecte-depots/prelevements/">Prélèvements</a></li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active"
                    routerLink="/collecte-depots/carte-bancaires/">Cartes Bancaires</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLinkActive="active"
                            routerLink="/collecte-depots/compte-bancaire/">Compte Bancaire</a></li>
        </ul>
    </div>
</div>
<!-- Secondary Menu end -->
<router-outlet></router-outlet>