<app-header></app-header>

<!-- Secondary Menu
  ============================================= -->
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav">
            <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="/espace-client/mon-compte">Mon compte</a></li>
        </ul>
    </div>
</div>
<!-- Secondary Menu end -->
<app-chat></app-chat> 
<!-- Content
  ============================================= -->
<div id="content" class="py-4">
    <div class="container">
        <div class="row">

            <!-- Left Panel
        ============================================= -->
            <aside class="col-lg-3">
                <app-aside></app-aside>
                
            </aside>
            <!-- Left Panel End -->

            <!-- Middle Panel
        ============================================= -->
            <div class="col-lg-9">

                <router-outlet></router-outlet>

            </div>
            <!-- Middle Panel End -->
        </div>
    </div>
</div>
<!-- Content end -->

<app-footer></app-footer>