<div class="text-center mb-4">
  <a href="." class="navbar-brand navbar-brand-autodark"
    ><img src="./assets/img/static/logo.svg" height="76" alt=""
  /></a>
</div>
<div *ngIf="errors != ''" class="alert alert-danger">{{ errors }}</div>
<form class="card card-md" #formLogin="ngForm" novalidate>
  <div class="card-body">
    <h2 class="card-title text-center mb-4">Change password</h2>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <div class="input-group input-group-flat">
        <input
          type="password"
          id="password"
          class="form-control"
          [class.is-invalid]="password.invalid && password.touched"
          placeholder="Password"
          autocomplete="off"
          name="password"
          #password="ngModel"
          [(ngModel)]="user.password"
          required
          minlength="8"
        />
      </div>
      <div *ngIf="password.errors && (password.valid || password.touched)">
        <p class="text-danger" *ngIf="password.errors?.required">
          Please Enter your Password
        </p>
        <p class="text-danger" *ngIf="password.errors?.minlength">
          Please minimum 8 carateres
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <div class="input-group input-group-flat">
        <input
          type="password"
          id="confirmpassword"
          class="form-control"
          [class.is-invalid]="
            (confirmpassword.invalid || !confirmPassword()) &&
            confirmpassword.touched
          "
          placeholder="Confirm Password"
          autocomplete="off"
          name="confirmpassword"
          #confirmpassword="ngModel"
          [(ngModel)]="user.confirmpassword"
          required
          minlength="8"
        />
      </div>
      <div
        *ngIf="
          confirmpassword.errors &&
          (confirmpassword.valid || confirmpassword.touched)
        "
      >
        <p class="text-danger" *ngIf="confirmpassword.errors?.required">
          Please Confirm your Password
        </p>
        <p class="text-danger" *ngIf="confirmpassword.errors?.minlength">
          Please minimum 8 carateres
        </p>
      </div>
      <p *ngIf="!confirmPassword()" class="text-danger">
        Password and Confirm password not matches
      </p>
    </div>
    <span class="">
      <a (click)="showPassword()" style="cursor: pointer;margin-right:5px" class="link-secondary" title="Show password"
        data-bs-toggle="tooltip">
        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="2" />
          <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
        </svg>
      </a>
      <span id="showhide">show password</span>
    </span>
    <div class="form-footer">
      <button
        type="button"
        id="btn-reset"
        style="cursor: pointer"
        [disabled]="formLogin.invalid"
        (click)="onEditPassword()"
        class="btn btn-primary w-100"
      >
        Save changes
        <div *ngIf="loading" class="spinner-grow text-light" role="status">
          <span class="sr-only"></span>
        </div>
      </button>
    </div>
  </div>
</form>
